<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Track_01">

  <!-- Make the whole track static -->
  <gazebo>
    <static>true</static>
  </gazebo>

  <link
    name="Track_link">
    <inertial>
      <origin
        xyz="4.9984 8.8818E-16 -0.0125"
        rpy="0 0 0" />
      <mass
        value="1395" />
      <inertia
        ixx="76.863"
        ixy="-1.7035E-12"
        ixz="4.5741E-13"
        iyy="11625"
        iyz="-6.8212E-13"
        izz="11702" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/Track_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/Track_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Track_lane">
    <inertial>
      <origin
        xyz="4.9 8.8818E-16 -0.0125"
        rpy="0 0 0" />
      <mass
        value="45" />
      <inertia
        ixx="0.011719"
        ixy="-8.1749E-17"
        ixz="-6.0715E-18"
        iyy="0.039844"
        iyz="1.0083E-17"
        izz="0.046875" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/Track_lane.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/Track_lane.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Track_lane_joint"
    type="fixed">
    <origin
      xyz="0.15 0 0"
      rpy="0 0 0" />
    <parent
      link="Track_link" />
    <child
      link="Track_lane" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Back_Track">
    <inertial>
      <origin
        xyz="0 -8.8818E-16 -0.0125"
        rpy="0 0 0" />
      <mass
        value="279" />
      <inertia
        ixx="15.373"
        ixy="-2.7445E-13"
        ixz="2.2204E-16"
        iyy="93.014"
        iyz="-2.4425E-15"
        izz="108.36" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/Back_Track.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/Back_Track.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Back_Track_joint"
    type="fixed">
    <origin
      xyz="-1.0016 0 0"
      rpy="0 0 0" />
    <parent
      link="Track_link" />
    <child
      link="Back_Track" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Back_lane">
    <inertial>
      <origin
        xyz="0.5 -6.6613E-14 -0.0125"
        rpy="0 0 0" />
      <mass
        value="9" />
      <inertia
        ixx="0.0023438"
        ixy="-7.9689E-18"
        ixz="4.0115E-18"
        iyy="0.0079688"
        iyz="-4.8789E-18"
        izz="0.009375" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/Back_lane.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/Back_lane.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Back_lane_joint"
    type="fixed">
    <origin
      xyz="-0.44839 0 0"
      rpy="0 0 0" />
    <parent
      link="Back_Track" />
    <child
      link="Back_lane" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="BST">
    <inertial>
      <origin
        xyz="0 0.65 -0.0625"
        rpy="0 0 0" />
      <mass
        value="1800" />
      <inertia
        ixx="39.844"
        ixy="-1.4211E-14"
        ixz="-1.6875E-14"
        iyy="602.34"
        iyz="-4.2633E-14"
        izz="637.5" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/BST.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/BST.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BST_joint"
    type="fixed">
    <origin
      xyz="0.0016129 -0.65 0.1"
      rpy="0 0 0" />
    <parent
      link="Back_Track" />
    <child
      link="BST" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Front_Track">
    <inertial>
      <origin
        xyz="0 4.4409E-16 -0.0125"
        rpy="0 0 0" />
      <mass
        value="279" />
      <inertia
        ixx="15.373"
        ixy="6.2172E-14"
        ixz="-1.8874E-15"
        iyy="93.014"
        iyz="-7.1054E-15"
        izz="108.36" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/Front_Track.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/Front_Track.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Front_Track_joint"
    type="fixed">
    <origin
      xyz="10.998 0 0"
      rpy="0 0 0" />
    <parent
      link="Track_link" />
    <child
      link="Front_Track" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Front_lane">
    <inertial>
      <origin
        xyz="-0.9 -2.1538E-14 -0.0125"
        rpy="0 0 0" />
      <mass
        value="9" />
      <inertia
        ixx="0.0023438"
        ixy="-1.5179E-18"
        ixz="3.0629E-18"
        iyy="0.0079688"
        iyz="-8.9447E-19"
        izz="0.009375" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/Front_lane.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/Front_lane.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Front_lane_joint"
    type="fixed">
    <origin
      xyz="0.95161 0 0"
      rpy="0 0 0" />
    <parent
      link="Front_Track" />
    <child
      link="Front_lane" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FST">
    <inertial>
      <origin
        xyz="8.8818E-16 0.65 -0.0625"
        rpy="0 0 0" />
      <mass
        value="1800" />
      <inertia
        ixx="39.844"
        ixy="9.8588E-14"
        ixz="-1.7764E-15"
        iyy="602.34"
        iyz="5.6843E-14"
        izz="637.5" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/FST.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/FST.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FST_joint"
    type="fixed">
    <origin
      xyz="0.0016129 -0.65 0.1"
      rpy="0 0 0" />
    <parent
      link="Front_Track" />
    <child
      link="FST" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sidewalk">
    <inertial>
      <origin
        xyz="-3.5527E-15 0.65 -0.0625"
        rpy="0 0 0" />
      <mass
        value="9000" />
      <inertia
        ixx="199.22"
        ixy="-4.7358E-12"
        ixz="-2.4176E-12"
        iyy="75012"
        iyz="-2.5011E-12"
        izz="75187" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/sidewalk.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.0125"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mec)/meshes/Track_01/sidewalk.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sidewalk_joint"
    type="fixed">
    <origin
      xyz="5 -0.65 0.1"
      rpy="0 0 0" />
    <parent
      link="Track_link" />
    <child
      link="sidewalk" />
    <axis
      xyz="0 0 0" />
  </joint>

  <gazebo reference="Track_link">
    <material>Gazebo/Black</material>
    <mu1>100.0</mu1><mu2>50.0</mu2>
  </gazebo>

  <gazebo reference="Track_lane">
    <material>Gazebo/White</material>
    <mu1>100.0</mu1><mu2>50.0</mu2>
  </gazebo>

  <gazebo reference="Back_Track">
    <material>Gazebo/Black</material>
    <mu1>100.0</mu1><mu2>50.0</mu2>
  </gazebo>

  <gazebo reference="Back_lane">
    <material>Gazebo/White</material>
    <mu1>100.0</mu1><mu2>50.0</mu2>
  </gazebo>

  <gazebo reference="Front_Track">
    <material>Gazebo/Black</material>
    <mu1>100.0</mu1><mu2>50.0</mu2>
  </gazebo>

  <gazebo reference="Front_lane">
    <material>Gazebo/White</material>
    <mu1>100.0</mu1><mu2>50.0</mu2>
  </gazebo>

  <gazebo reference="sidewalk">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="BST">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="FST">
    <material>Gazebo/Grey</material>
  </gazebo>

</robot>