controller_manager:
  ros__parameters:
    update_rate: 50

    mecanum_drive_controller:
      type: mecanum_drive_controller/MecanumDriveController
    # built-in broadcasters / controllers to load
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster


joint_state_broadcaster:
  ros__parameters:
    joints:
      - front_left_wheel_joint
      - front_right_wheel_joint
      - rear_left_wheel_joint
      - rear_right_wheel_joint
      
mecanum_drive_controller:
  ros__parameters:
    odometry_topic: "/odom"
    # -----------------------------
    # FRAME IDS (Crucial for Odometry and TF)
    # -----------------------------
    tf_frame_prefix_enable: false
    tf_frame_prefix: ""
    publish_odom: true
    publish_tf: true
    odom_frame_id: "odom"
    base_frame_id: "base_link"
    publish_odom_tf: true

    # Odometry parameters
    pose_covariance_diagonal: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
    twist_covariance_diagonal: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
    position_feedback: false
    open_loop: true

    # Command and state interfaces
    command_interface: ["velocity"]
    state_interface: ["position", "velocity"]
    
    # -----------------------------
    # Command Joint Names
    # -----------------------------
    front_left_wheel_command_joint_name: "front_left_wheel_joint"
    front_right_wheel_command_joint_name: "front_right_wheel_joint"
    rear_left_wheel_command_joint_name: "rear_left_wheel_joint"
    rear_right_wheel_command_joint_name: "rear_right_wheel_joint"

    # -----------------------------
    # State Joint Names (use same unless encoders are on different joints)
    # -----------------------------
    front_left_wheel_state_joint_name: "front_left_wheel_joint"
    front_right_wheel_state_joint_name: "front_right_wheel_joint"
    rear_left_wheel_state_joint_name: "rear_left_wheel_joint"
    rear_right_wheel_state_joint_name: "rear_right_wheel_joint"

    # -----------------------------
    # Kinematics
    # -----------------------------
    
    kinematics:
      wheels_radius: 0.0485
      # Distance between Left and Right wheel centers (2 * lx)
      wheel_separation_lr: 0.2473
      # Distance between Front and Back wheel centers (2 * ly)
      wheel_separation_fb: 0.253
      # Offset of base_frame from robot center (usually 0)
      base_frame_offset:
        x: 0.0
        y: 0.0
        theta: 0.0
      sum_of_robot_center_projection_on_X_Y_axis: 0.25015

      # Command handling
      cmd_vel_timeout: 0.5
      publish_limited_velocity: false
      velocity_rolling_window_size: 10
      publish_rate: 50.0

    # Velocity limits
    linear.x.has_velocity_limits: false
    linear.x.has_acceleration_limits: false
    linear.x.has_jerk_limits: false
    linear.x.max_velocity: 0.0
    linear.x.min_velocity: 0.0
    linear.x.max_acceleration: 0.0
    linear.x.max_jerk: 0.0
    linear.x.min_jerk: 0.0
    linear.y.has_velocity_limits: false
    linear.y.has_acceleration_limits: false
    linear.y.has_jerk_limits: false
    linear.y.max_velocity: 0.0
    linear.y.min_velocity: 0.0
    linear.y.max_acceleration: 0.0
    linear.y.max_jerk: 0.0
    linear.y.min_jerk: 0.0
    angular.z.has_velocity_limits: false
    angular.z.has_acceleration_limits: false
    angular.z.has_jerk_limits: false
    angular.z.max_velocity: 0.0
    angular.z.min_velocity: 0.0
    angular.z.max_acceleration: 0.0
    angular.z.min_acceleration: 0.0
    angular.z.max_jerk: 0.0
    angular.z.min_jerk: 0.0

